*.obj
*.exe
*.pdb
*.user
*.csproj.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.cache
*.Cache
*[Bb}in/*
[Db]ebug*/
obj/*
*.csproj.VisualState.xml
*.[Rr]e[Ss]harper
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
_artifacts/**
*.svclog
*.orig
*.docstates
*.rej
*.sln.VisualState.xml
*.dotCover
*.db